    {% if status_comment  %}

    <div class ="alert alert-success" >
        {{status_comment}}
    </div>

    {% endif %}

    Create date:{{item.create_date}}<br>
    Comment author:{{item.author}}<br>
    Comment status:{{item.status}}

    {% if item.article.author == request.user %}
        -
        <a class="update_status" data-url="{%url 'update_comment_status' item.id 'public'%}" href="#">Public</a>/
        <a class="update_status" data-url="{%url 'update_comment_status' item.id 'delete'%}" href="">Delete</a><br>

    {%endif%}
    <br><br>
    {{item.text}}
        <hr>